REACT_APP_SERVER_URL="http://localhost:3030"
REACT_APP_FRONTEND="http://localhost:3000"
REACT_APP_PROJECT_NAME="caamFlightManagement"
REACT_APP_PROJECT_LABEL="CAAM Flight Management"
REACT_APP_PROJECT_ID="6a03b7c791b60befa7150621"
REACT_APP_LAST_UPDATED="13/05/2026"
REACT_APP_SECRETKEY="e3027bf8cd3df01a4f300eaabb5cf7a38f14b4b66c419c3ead169a26e39e8b0f"
REACT_APP_EMAIL_DOMAIN="example.com"
REACT_APP_USE_USER_INVITE_SIGNUP=true
REACT_APP_ENV=dev
REACT_APP_DATE="dd/MM/yyyy"
REACT_APP_TIME="hh:mm:ss"
REACT_APP_LANGUAGE="en_MY"
REACT_APP_CURRENCY="MYR"
REACT_APP_COUNTRY="MY"
